<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>libraryServlet</servlet-name>
        <servlet-class>libraryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookBorrowed</servlet-name>
        <servlet-class>bookBorrowed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookborrowed</servlet-name>
        <servlet-class>bookborrowed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowBookServlet</servlet-name>
        <servlet-class>BorrowBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBConnection</servlet-name>
        <servlet-class>DBConnection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>libraryServlet</servlet-name>
        <url-pattern>/libraryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookBorrowed</servlet-name>
        <url-pattern>/bookBorrowed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookborrowed</servlet-name>
        <url-pattern>/bookborrowed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowBookServlet</servlet-name>
        <url-pattern>/BorrowBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBConnection</servlet-name>
        <url-pattern>/DBConnection</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/errorpage.jsp</location>
    </error-page>
</web-app>
